<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Marketplace!</title>
</head>
<body>
<h1>
    Real Estate Marketplace!
</h1>
<h2>
    Alexandru Stanescu - Group 20
</h2>
<br/>
<a href="details">Details</a>
<br>
<a href="user/create">Create new user</a>
<br>
<a href="user/all">All users</a>
<br>
<a href="listing/all">Listings</a>
<br>
<a href="listing/create">Add new listing</a>
<br>
<br>
<img style="width:250px" src="apartment1.jpg">
<br>
<img style="width:250px" src="house.jpg">
</body>
</html>